<div
  class="min-h-[200vh] bg-secondary flex flex-col py-16 px-4 md:px-0"
  id="about-me"
>
  <div class="min-h-screen grid items-center margin-1">
    <div class="md:w-[40vw]">
      <h1>A little about me.</h1>
      <hr />
      <p>
        My exposure to tech since childhood has led me to my path as a
        <b>Front-end Developer</b>. Along with that, seeing amazing designs
        online developed my interest in aesthetic <b>Visual Design</b>.
      </p>
      <p>
        As a developer and as a designer, I have a natural passion to create
        things that I will be proud of. It is my goal to not only
        <b>develop polished work</b>, but also to channel my creativity through
        it by <b>designing visually appealing experiences</b>.
      </p>
      <div
        class="bg-primary text-primary-content font-mono w-fit py-2 px-4 flex"
      >
        <img src="./assets/icon/location.svg" class="w-6 h-6 mr-2" />
        <span>Quezon City, Philippines</span>
      </div>
      <hr />
      <div class="mb-24 lg:mb-0">
        <h4 class="mb-3">Interests:</h4>
        <div class="flex">
          <div
            *ngFor="let interest of interests"
            class="tooltip"
            attr.data-tip="{{ interest.name }}"
          >
            <img src="{{ interest.icon }}" class="w-10 h-10 mr-5" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="min-h-screen grid items-center justify-center">
    <div>
      <h2>Technologies that I am familiar with.</h2>
      <hr />
      <p>Tools of the trade.</p>
      <div class="dropdown lg:hidden mb-4 w-full">
        <label tabindex="0" class="btn btn-outline btn-primary w-full"
          >Select a Category<svg
            class="ml-1 h-5 w-5"
            fill="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.194 8.71a.75.75 0 0 0-.694-.46h-15a.75.75 0 0 0-.694.46.787.787 0 0 0 .16.824l7.5 7.5a.769.769 0 0 0 1.068 0l7.5-7.5a.788.788 0 0 0 .16-.825Z"
            ></path>
          </svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 bg-secondary w-full">
          <li>
            <a (click)="changeAboutList('frontend')">Front-end Development</a>
          </li>
          <li>
            <a (click)="changeAboutList('backend')">Back-end Development</a>
          </li>
          <li>
            <a (click)="changeAboutList('general')">General Development</a>
          </li>
          <li>
            <a (click)="changeAboutList('creative')">Creatives</a>
          </li>
        </ul>
      </div>
      <div class="flex justify-center lg:divide-x">
        <div class="hidden lg:flex">
          <ul class="menu menu-compact lg:menu-normal w-64">
            <li>
              <a (click)="changeAboutList('frontend')">Front-end Development</a>
            </li>
            <li>
              <a (click)="changeAboutList('backend')">Back-end Development</a>
            </li>
            <li>
              <a (click)="changeAboutList('general')">General Development</a>
            </li>
            <li>
              <a (click)="changeAboutList('creative')">Creatives</a>
            </li>
          </ul>
        </div>
        <div class="pl-4">
          <app-about-me-hobbies-skills
            [selectedList]="selectedAboutList"
          ></app-about-me-hobbies-skills>
        </div>
      </div>
    </div>
  </div>
</div>
