<div id="works">
  <div class="min-h-screen p-4 py-24 md:px-32 xl:px-72">
    <h1 class="text-5xl font-bold">A little about me.</h1>
    <hr class="my-5 w-3/6 border-info-content" />
    <p class="text-xl my-7">
      My exposure to tech since childhood has led me to my path as a
      <b>Front-end Developer</b>. Along with that, seeing amazing designs online
      developed my interest in aesthetic <b>Visual Design</b>.
    </p>
    <div class="flex justify-center mt-5">
      <div class="card w-96 bg-neutral image-full">
        <figure>
          <img
            src="https://placeimg.com/400/225/arch"
            class="mix-blend-luminosity"
            alt="Shoes"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Seoul-Soul</h2>
          <p>
            An e-commerce website that sells K-pop merchandise. I worked on the
            design and coded the front-end of the website. I went with pastel
            colors to emulate a friendly and welcoming vibe to the website.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
