<header>
  <div class="navbar bg-base-100 lg:px-[5vw] h-[10vh]">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content p-2 bg-base-100 w-52"
        >
          <li *ngFor="let item of navItemsArray">
            <button (click)="linkClick(item)">
              {{ item["name"] }}
            </button>
          </li>
        </ul>
      </div>
      <a [href]="'/'" class="btn-neutral btn-square">
        <img src="./assets/icon/logo.svg" class="h-14 w-14" />
      </a>
    </div>
    <div class="navbar-end">
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal p-0">
          <li *ngFor="let item of navItemsArray">
            <a [href]="'/#' + item['id']" class="btn btn-neutral">
              {{ item["name"] }}
            </a>
          </li>
        </ul>
      </div>
      <a
        href="./assets/pdf/Habal, Jeremy Ryan - Resume.pdf"
        class="btn btn-outline btn-base-100 ml-5"
        >Resume</a
      >
    </div>
  </div>
</header>
