<div *ngIf="selectedList === 'frontend'" class="grid grid-cols-4 gap-4">
  <div *ngFor="let hobby of frontend" class="card bg-base-100">
    <div class="card-body items-center text-center p-4 skill-container">
      <img
        [src]="'./assets/icon/skills/' + hobby + '.svg'"
        class="skill-icon"
      />
      <h2 class="font-mono">{{ hobby }}</h2>
    </div>
  </div>
</div>
<div *ngIf="selectedList === 'backend'" class="grid grid-cols-4 gap-4">
  <div *ngFor="let hobby of backend" class="card bg-base-100">
    <div class="card-body items-center text-center p-4 skill-container">
      <img
        [src]="'./assets/icon/skills/' + hobby + '.svg'"
        class="skill-icon"
      />
      <h2 class="font-mono">{{ hobby }}</h2>
    </div>
  </div>
</div>
<div *ngIf="selectedList === 'general'" class="grid grid-cols-4 gap-4">
  <div *ngFor="let hobby of general" class="card bg-base-100">
    <div class="card-body items-center text-center p-4 skill-container">
      <img
        [src]="'./assets/icon/skills/' + hobby + '.svg'"
        class="skill-icon"
      />
      <h2 class="font-mono">{{ hobby }}</h2>
    </div>
  </div>
</div>
<div *ngIf="selectedList === 'creative'" class="grid grid-cols-4 gap-4">
  <div *ngFor="let hobby of creative" class="card bg-base-100">
    <div class="card-body items-center text-center p-4 skill-container">
      <img
        [src]="'./assets/icon/skills/' + hobby + '.svg'"
        class="skill-icon"
      />
      <h2 class="font-mono">{{ hobby }}</h2>
    </div>
  </div>
</div>

<!-- <div class="class">
  <ul *ngIf="selectedList === 'frontend'">
    <li *ngFor="let hobby of frontend">
      {{ hobby }}
    </li>
  </ul>
  <ul *ngIf="selectedList === 'backend'">
    <li *ngFor="let skill of backend">
      {{ skill }}
    </li>
  </ul>
  <ul *ngIf="selectedList === 'general'">
    <li *ngFor="let skill of general">
      {{ skill }}
    </li>
  </ul>
  <ul *ngIf="selectedList === 'creative'">
    <li *ngFor="let skill of creative">
      {{ skill }}
    </li>
  </ul>
  <img [src]="'./assets/img/' + selectedList + '.jpg'" class="w-100 h-100" />
</div> -->
