<div *ngIf="selectedList === 'frontend'" class="card-grid">
  <div *ngFor="let hobby of frontend" class="card-container">
    <div class="card-content">
      <img [src]="'./assets/icon/skills/' + hobby + '.svg'" class="card-icon" />
      <span class="card-text">{{ hobby }}</span>
    </div>
  </div>
</div>
<div *ngIf="selectedList === 'backend'" class="card-grid">
  <div *ngFor="let hobby of backend" class="card-container">
    <div class="card-content">
      <img [src]="'./assets/icon/skills/' + hobby + '.svg'" class="card-icon" />
      <span class="card-text">{{ hobby }}</span>
    </div>
  </div>
</div>
<div *ngIf="selectedList === 'general'" class="card-grid">
  <div *ngFor="let hobby of general" class="card-container">
    <div class="card-content">
      <img [src]="'./assets/icon/skills/' + hobby + '.svg'" class="card-icon" />
      <span class="card-text">{{ hobby }}</span>
    </div>
  </div>
</div>
<div *ngIf="selectedList === 'creative'" class="card-grid">
  <div *ngFor="let hobby of creative" class="card-container">
    <div class="card-content">
      <img [src]="'./assets/icon/skills/' + hobby + '.svg'" class="card-icon" />
      <span class="card-text">{{ hobby }}</span>
    </div>
  </div>
</div>
