<div
  class="hero min-h-[90vh] hero-banner place-items-end items-center justify-start md:px-32 xl:px-72"
>
  <div class="z-30 hero-content text-left text-neutral-content">
    <div class="max-w-md">
      <h1 class="text-5xl">Hey, I'm</h1>
      <h1 class="mb-5 text-5xl font-bold">Jeremy Ryan Habal.</h1>
      <p class="mb-14 text-xl">
        <b>Front-end Development</b> and <br />
        <b>Visual Design</b> is my thing.
      </p>
      <a href="/#contact-me" class="btn btn-outline btn-base-100">Say Hello!</a>
    </div>
  </div>
  <img
    src="./assets/img/me.jpg"
    class="z-20 h-72 w-0 md:w-72 absolute float-right"
  />
  <div
    class="z-10 h-[50vh] w-0 md:w-[40vw] bg-secondary absolute float-right"
  ></div>
</div>
