<div class="min-h-screen grid md:grid-cols-2 mt-5" id="contact-me">
  <div
    class="w-full grid items-center justify-center bg-primary text-primary-content"
  >
    <div class="card-body text-center items-center">
      <h1 class="text-5xl font-bold">Say Hello!</h1>
      <hr class="my-5 w-3/6 border-info-content" />
      <p class="text-xl my-7">
        Got a project you want to work with me? I'm excited to hear about it!
        Drop me a message and then let's discuss about it.
      </p>
      <a
        [href]=""
        class="btn btn-outline btn-secondary ml-5"
        target="_blank"
        rel="noopener noreferrer"
        >Get in touch</a
      >
    </div>
  </div>
  <div
    class="w-full grid items-center justify-center bg-secondary text-secondary-content"
  >
    <div class="card-body text-center items-center">
      <h1 class="text-4xl font-bold">Check out my resume!</h1>
      <hr class="my-5 w-3/6 border-info-content" />
      <a
        href="./assets/pdf/Resume.pdf"
        class="btn btn-outline btn-primary ml-5"
        target="_blank"
        rel="noopener noreferrer"
        >Grab a copy</a
      >
    </div>
  </div>
</div>
