<app-hero-banner></app-hero-banner>
<div class="h-screen">
  <div class="flex justify-center mt-5">
    <div class="card w-96 bg-neutral image-full">
      <figure>
        <img
          src="https://placeimg.com/400/225/arch"
          class="mix-blend-luminosity"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Seoul-Soul</h2>
        <p>
          An e-commerce website that sells K-pop merchandise. I worked on the
          design and coded the front-end of the website. I went with pastel
          colors to emulate a friendly and welcoming vibe to the website.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-5">
    <div class="card w-96 bg-neutral image-full">
      <figure>
        <img
          src="https://placeimg.com/400/225/arch"
          class="mix-blend-luminosity"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Seoul-Soul</h2>
        <p>
          An e-commerce website that sells K-pop merchandise. I worked on the
          design and coded the front-end of the website. I went with pastel
          colors to emulate a friendly and welcoming vibe to the website.
        </p>
      </div>
    </div>
  </div>
</div>
