<div class="flex justify-center mt-5">
  <div
    class="card w-96 card-side bg-secondary text-secondary-content shadow-xl"
  >
    <figure><img src="./assets/img/me.jpg" class="h-full" /></figure>
    <div class="card-body">
      <h2 class="card-title">{{ navItem["name"] }}</h2>
      <ul
        class="menu menu-vertical lg:menu-horizontal bg-secondary rounded-box"
      >
        <li>
          <a
            (click)="changeAboutList('hobbies')"
            class="btn text-neutral-content"
            >Hobbies</a
          >
        </li>
        <li>
          <a
            (click)="changeAboutList('skills')"
            class="btn text-neutral-content"
            >Skills</a
          >
        </li>
      </ul>
      <app-about-me-hobbies-skills
        [selectedList]="selectedAboutList"
      ></app-about-me-hobbies-skills>
    </div>
  </div>
</div>
